<div class="col-lg-4 mx-auto">
    <div class="card">
        <div class="card-header">
            Upload a Photo
        </div>
        <div class="card-body">
            <form (submit)="uploadPhoto(title, description)">
                <div class="form-group">
                    <input type="date" class="form-control" placeholder="Photo's Inscription" #title required>
                </div>
                <div class="form-group">
                    <textarea rows="2" class="form-control" placeholder="Photo's Description" required #description></textarea>
                </div>

                <!-- (change)="onPhotoSelected($event)" -->
                <input type="file" class="d-none" 
                    #photoInput>
                <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image"
                    (click)="photoInput.click()">

                <button class="btn btn-primary btn-block">
                    Upload
                </button>
            </form>
        </div>
    </div>
</div>